:root {
  --green: rgb(88, 206, 15);
  --dark-green: rgb(50, 116, 9);
	--red: rgb(230, 12, 12);
  --dark-red: rgb(116, 3, 3);
  --dark-grey: rgb(84, 83, 83);
  --wall-gradient:linear-gradient( -45deg,  black, var(--dark-grey) 90% );
  --red-gradient:linear-gradient( -45deg,  var(--red), var(--dark-red) 90% );
  --blue-gradient:linear-gradient( -65deg,  var(--dark-red), rgb(1, 1, 203));
	--green-gradient:linear-gradient( -45deg, var(--green) 10%,  var(--dark-green) 75% );
}

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  
}

/* Start view and instructions */
.start-container{
  height: 100vh;
  background-image: url('./galaxy-full_compressed.jpeg');
  background-size: cover;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-container.hide{
  display: none;
}

.start-container h1{
  font-size: 4rem;
  margin: 1rem 0 1rem;
}

.move-instruction {
  color: chartreuse;
  font-weight: bold;
}

.intro-img {
  position: relative;
  top: 15px;
  width: 40px;
}

.hero {
  text-align: center;
  display: inline-block;
  height: 100px;
  max-width: 650px;
}

.cursor{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.instructions{
  max-width: 90%;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  opacity: 0.75;
  border-radius: 10px;
  padding: 20px;
}

.start{
  padding:10px;
  margin-top: 10px;
  border-radius: 5%;

	color:#fff;
  font-size: 1.5rem;
  font-weight: bold;
	text-shadow:1px 1px 1px var(--dark-grey);
	text-transform: uppercase;
  font-family: var(--font);
	background-image: var(--green-gradient);
	border:1px solid var(--grey);
	box-shadow:4px 4px 10px var(--black-50);
	
	cursor: pointer;

	transition:all 0.3s cubic-bezier(0.84, 2.1, 0.42, 2.74)
}
.start:hover {
	color:var(--black);
	text-shadow:1px 1px 1px var(--light-grey);

	background-image: var(--blue-gradient);
	box-shadow: 5px -5px 60px rgb(1, 1, 203);
	border-color:var(--light-grey);
	transform:scale(1.1);
}

/* End of start and instructions section */


/* Game container and grid section */
.outer-container{
  display: none;
  height: 100vh;
}

.outer-container.display{
  background-image: url('./space_img.jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container{
  color: chartreuse;
}

.grid-wrapper {
  /* disply set in js to either none or flex */
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 85vh;
  width: 85vh;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-appearance='X']{
  background-color: var(--dark-grey);
  opacity: 0.4;
}

div[data-appearance='o']{
  background-color: grey;
}

div.passageway-light.playerOne,
div.passageway-dark.playerOne{
  background-image: url('./playerOne.png');
  background-size: cover;
}

div.passageway-light.Captain,
div.passageway-dark.Captain{
  background-image: url('./captain_normal.png');
  background-size: cover;
}

div.passageway-light.Captain.fleeing{
  background-image: url('./captain_drugged.png');
  background-size: cover;
}

div.passageway-light.Engineer,
div.passageway-dark.Engineer{
  background-image: url('./engineer_normal.png');
  background-size: cover;
}

div.passageway-light.Engineer.fleeing,
div.passageway-dark.Engineer.fleeing{
  background-image: url('./engineer_drugged.png');
  background-size: cover;
}

div.passageway-light.Weapons,
div.passageway-dark.Weapons{
  background-image: url('./weapons_normal.png');
  background-size: cover;
}

div.passageway-light.Weapons.fleeing,
div.passageway-dark.Weapons.fleeing{
  background-image: url('./weapons_drugged.png');
  background-size: cover;
}

div.passageway-light.Navigation,
div.passageway-dark.Navigation{
  background-image: url('./navigation_normal.png');
  background-size: cover;
}

div.passageway-light.Navigation.fleeing,
div.passageway-dark.Navigation.fleeing{
  background-image: url('./navigation_drugged.png');
  background-size: cover;
}

div.wall-light{
  background-color: var(--dark-grey);
  opacity: 0.4;
}

div.wall-dark{
  background-color: var(--dark-red);
  opacity: 0.6;
}

div span.dot{
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

div span.emergency-dot{
  height: 7px;
  width: 7px;
  background-color: var(--dark-green);
  border-radius: 50%;
  display: inline-block;
}

div span.pill-dot{
  background-image: url('./pill.gif');
  background-size: 100%;
  
  height: 15px;
  width: 15px;
  display: inline-block;
}

div span.service-tunnel {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url('./wormhole.gif');
  background-size: cover;
}

div.passageway-light{
  background-color: white;
}

div.passageway-dark{
  background-color: black;
}

.lives{
  height: 90px;
}

div.life{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 15px;
  background-image: url('./heart.png');
  background-size: cover;
}

/* End of Game container and grid section */


/* Start of Game over section */

.game-over{
  height: 100vh;
  background-color: black;
  color: chartreuse;
  display: none;
}

div.game-over.display{
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart-btn {
	display: inline-block;
	margin-bottom:40px;
	padding:15px 50px;

	color:#fff;
	font-size:25px;
	text-transform: uppercase;

	background-image: var(--red-gradient);
	box-shadow:4px 4px 10px black;
	border-radius:40px;
	cursor: pointer;

	transition:all 0.5s ease-in-out;
}
.restart-btn:hover {
	color: black;
	text-shadow:1px 1px 1px black;

	background-image: var(--green-gradient);
	box-shadow: 6px 6px 50px var(--green);
	/* border-color:var(--light-grey); */
	transform:scale(1.1);
}
.restart-btn:focus {
	outline:0;
}

/* End of Game over section */

/* Start of slide-in section */

.slide-in{
  opacity: 0;
  background-color: var(--dark-grey);
  text-align: center;
  color: chartreuse;
  font-weight: bold;
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 10px 10px 5px black;
  padding: 10px 15px 30px;

  position: relative;
  bottom: 70%;
  margin-left: 50px;
  width: 30%;

  transition: all 0.5s;
  transform: translateX(-30%) scale(0.9);
}

.slide-in.active{
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.commence-mission{
	display: inline-block;
  padding: 15px;

  color:#fff;
  font-weight: bold;

	background-image: var(--red-gradient);
	box-shadow:4px 4px 10px black;
	border-radius:5px;
	cursor: pointer;
	transition:all 0.5s ease-in-out;
}

.commence-mission:hover {
	color: black;
	background-image: var(--green-gradient);
	box-shadow: 6px 6px 50px var(--green);
	transform:scale(1.1);
}

/* End of slide-in section */



@media only screen and (max-height: 1000px){
  div.life{
    width: 40px;
    height: 40px;
    margin: 10px;
  }
}

@media only screen and (max-height: 900px){
  div.life{
    width: 35px;
    height: 35px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1100px){
  .slide-in{
    bottom: 90%;
  }

  .grid{
    height: 75vh;
    width: 75vh;
  }

}

@media only screen and (max-width: 760px){

  .start-container h1{
    font-size: 2.5rem;
  }

  .cursor{
    font-size: 1.2rem;
  }

}