

* {
  box-sizing: border-box;

}

body {
  height: 100vh;
  margin: 0;
}

.start-container{
  height: 100vh;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container.hide{
  display: none;
}


.grid-wrapper {
  height: 100vh;
  
  /* disply set in js to either none or flex */
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  /* border: 1px solid lightgrey; */

  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-appearance='X']{
  background-color: red;
  
}

div[data-appearance='o']{
  background-color: grey;
  
}

div.passageway-light.playerOne,
div.passageway-dark.playerOne{
  background-color: blue;
}

div.passageway-light.Captain,
div.passageway-dark.Captain{
  background-color: rgb(187, 0, 250)
}

div.passageway-light.Engineer,
div.passageway-dark.Engineer{
  background-color: rgb(0, 250, 100)
}

div.passageway-light.Weapons,
div.passageway-dark.Weapons{
  background-color: rgb(250, 129, 0)
}

div.passageway-light.Navigation,
div.passageway-dark.Navigation{
  background-color: rgb(250, 0, 129)
}

div span.dot{
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

div span.emergency-dot{
  height: 7px;
  width: 7px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
}

div span.pill-dot{
  height: 10px;
  width: 10px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}

div span.big-dot{
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

div span.service-tunnel {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

div.passageway-light{
  background-color: white;
  
}

div.passageway-dark{
  background-color: black;
}


div.life{
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
}




.game-over{
  height: 100vh;
  background-color: black;
  color: chartreuse;

  display: none;
  justify-content: center;
  align-items: center;
}

div.game-over.display{
  display: flex;
}